jax
jaxlib
ml_dtypes
flax
optax
tensorflow-cpu
keras
gym
pytest
flake8
numpy
scipy
matplotlib
aif360
packaging
gast
wrapt
pennylane
ibm-watson-machine-learning
scikit-learn
pandas
adversarial-robustness-toolbox
lale
qutip
pyquil
qiskit
biopython
scikit-bio
ete3
xarray
torch
transformers
git+https://github.com/google-deepmind/alphafold.git
# If needed, install alphafold separately or specify a PyPI-compatible version
shap
sentencepiece
nltk
git+https://github.com/PrithivirajDamodaran/Gramformer.git
