absl-py
adversarial-robustness-toolbox
aiohappyeyeballs
aiohttp
aiosignal
git+https://github.com/google-deepmind/alphafold.git
appdirs
astunparse
attrs
autograd
autoray
biom-format
biopython
blosc2
cachetools
certifi
charset-normalizer
chex==0.1.7
CHSPy
click==8.0.4
contextlib2
deap
decorator
dill
dm-haiku==0.0.9
dm-tree
docker
dpath
ete3
etils
filelock
flatbuffers
flax==0.7.0
frozenlist
fsspec
gast<=0.4.0,>=0.2.1
google-pasta
grpcio
gym
h5py
huggingface-hub
humanize
idna
immutabledict
importlib_resources
iniconfig
jax==0.4.13
jaxlib==0.4.13
Jinja2
jitcdde
jitcxde_common
jmp
joblib
keras<2.14,>=2.13.1
lale==0.7.0
libclang
lightning-utilities
llvmlite
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-collections
ml-dtypes
mpmath
msgpack
multidict
namex
natsort
ndindex
nest-asyncio
networkx
neurolib
numba
numexpr
numpy==1.23.5
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openmm==8.1.1
opt-einsum
optax==0.1.7
optree
orbax-checkpoint==0.3.5
packaging
pandas
patsy
pbr
PennyLane==0.37.0
PennyLane_Lightning==0.38.0
pluggy
protobuf==3.20.3
psutil
py-cpuinfo
Pygments
pypet
pytest
python-dateutil
pytorch-lightning==2.0.9
pytz
PyYAML
qiskit>=1.0.0
qiskit-aer>=0.12.0
qiskit-algorithms>=0.2.0
regex
requests
rich
rustworkx>=0.13.0
safetensors
scikit-bio>=0.5.8,<0.6.0
scikit-learn==1.5.0
scipy==1.8.1
six
statsmodels
stevedore
symengine
sympy
tables
tabulate
tensorboard<2.14,>=2.13
tensorboard-data-server
tensorflow==2.13.0
tensorflow-io-gcs-filesystem
tensorstore
termcolor
threadpoolctl
tokenizers==0.13.3
toml
toolz
torch==2.2.0
torchmetrics
torchvision==0.15.2
tqdm
transformers==4.31.0
triton==2.0.0
typing_extensions<4.6.0,>=3.6.6
tzdata
urllib3
Werkzeug
wrapt
xarray
yarl
zipp
